body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-height: 100%;
    position: relative;
}

*,::after,::before{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

.base{
    margin-top: 0;
    transition: margin-top .25s cubic-bezier(.77,.2,.05,1);
    padding-top: 90px;
    min-height: calc(100vh - 400px);
}

@media(min-width:992px){
    .page{
        padding-top: 1.25rem;
    }
}


/* 사이드 메뉴 바 */
.menu-active {
    background: orange;
}
.menu-ractive{
    background: #00000078;
}
.offcanvas-header {
    background-color: #f9d9da;
}

.sidebar-body{
    padding: 1.25rem;
    border-bottom: 1px solid #f5d6d6;
}

.profile {
    margin-right: 130px;
}

.user-info{
    margin-left: 1rem;
    font-weight: 700;
    font-size: 21px;
}

.offcanvas-title{
    margin: 0 auto;
}

.main-link {
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    display: flex;
    margin-top: 2rem;
}

.main-link img {
    display:block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.signup-btn {
    background-color: #f1f1f1;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.menuList .item {
    border-bottom: 1px solid #f5d6d6;
    text-align: left;
    padding: 1rem 1.25rem;
    display: block;
    font-weight: 500;
}


/* 상단 고정바 css  */
.top-header {
    background-color: #fff;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
    z-index: 1000;
}

.top-header .top-header-wrap {
    width: 100%;
    margin: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    text-align: center;

}

.top-header .top-header-wrap .menuBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.28rem;
    background: none;
    border: none;
}

.top-header .top-header-wrap .a-alarmBadge {
    position: absolute;
    background-color: #fd5d5f;
    border-radius: 9999px;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
}

.top-header .top-header-wrap .menuBar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 4px;
}

.main-logo {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 317px;
    z-index: 7;
}

.right-header {
    white-space: nowrap;
    float: right;
    display: flex;
    align-items: center;
    line-height: 60px;
    height: 60px;
}

.right-header a+a{
    margin-left: 24px;
}

.signup {
    background-color: #fd5d5f;
    color: #fff;
    height: 35px;
    width: 86px;
    line-height: 2.2;
    border-radius: 12px;
}

/* 쪽지 */
.channel-talk-button {
    cursor: pointer;
    position: fixed;
    border-style: none;
    width: 60px;
    height: 60px;
    bottom: 71px;
    right: 28px;
    background: url("https://cdn-icons-png.flaticon.com/512/3010/3010825.png") 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
}

/* footer css */
.footer {
    font-size: .75rem;
    border-top: 1px solid #f3f5f9;
    height: 240px;
    padding-top: 60px;
    background-color: #f9d9da;
}

.footer-container {
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 100%;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
}

.footer-logo {
    margin-top: 20px;
}

.footer-info {
    display: flex;
    list-style-type: none;
    margin-top: 1.25rem;
}

.ft {
    margin-right: 0.75rem;
}
.ft-1{
    font-size: .875rem;
    padding-left: 33px;
    max-width: 520px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
/* 푸터끝 */

a {
    text-decoration: none;
    color:#333;
}

.page{
    padding-top: 1rem;
    padding-bottom: 60px;
}

@media(min-width:992px){
    .page{
        padding-top: 1.25rem;
    }
}

/* 헤더 */
.header{
    position: relative;
    display: block;
    width: 100%;
}

.header-default{
    height: 200px;
    border-radius: 15px;
}

@media(min-width:992px){
    .header-default{
        border-radius: 0;
        height: 350px;
    }
}

@media(min-width:992px){
    .header-default{
        height: 140px;
        padding: 0 10px;
    }
}


@media(min-width:992px){
    .banner{
        height: 100%;
        background-color: #aed8cf;
    }
}

@media(min-width:992px){
    .banner{
        background-color: #1fc7c1;
        border-radius: 15px;
    }
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(min-width:992px){
    .container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 734px;
    }
}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1400px;
    }
}

.reative{
    position: relative;
}

.banner .container{
    height: 100%;
    display: flex;
}

.container::after,.container::before{
    content: " ";
    display: table;
}

.md-2{
    position: relative;
    min-height: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 768px){
    .md-2{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media (min-width: 992px){
    .md-2{
        float: left;
    }
}

@media (min-width: 992px){
    .md-2{
        width: 16.66667%;
    }
}

.container .image-wrap{
    order: 2;
    width: 30%;
    position: relative;
}

@media (min-width: 768px){
    .container .image-wrap{
        order: 1;
        width: 20%;
    }
}

img{
    border-style: none;
}

img{
    border-style: solid;
}

img{
    max-width: 100%;
    height: auto;
}

img{
    display: inline-block;
}

img{
    vertical-align: middle;
}

body img{
    max-width: 100%;
}

.cate-image{
    max-height: 80%;
    position: absolute;
    bottom: 0;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.text-color{
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

.z-10{
    z-index: 10;
}

.header-default .container .title-wrap {
    order: 1;
}

@media (min-width: 768px){
    .header-default .container .title-wrap{
        order: 2;
        padding-left: 2rem;
    }
}

.title-margin{
    margin-top: 0.25rem;
}

.title{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

@media (min-width: 992px){
    .title{
        font-size: 32px;
    }
}

small{
    font-size: 80%;
}

small{
    font-size: 87%;
}

@media (min-width: 992px){
    small{
        font-size: 18px;
    }
}
/* 헤더 */

@media(min-width:992px){
    .a-container{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media(min-width:992px){
    .a-container{
        padding-left: 0px;
        padding-right: 6px;
        max-width: 1500px;
    }
}

.a-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row{
    margin-left: -0.75rem;
}

.row:after, .row::before{
    content: " ";
    display: table;
}

.row::after{
    clear: both;
}

@media(min-width: 992px){
    .main-board-layout{
        width: 83.33333%;
    }
}


@media(min-width: 992px){
    .main-board-layout{
        float:left;
    }
}

@media(min-width: 992px){
    .main-board-layout{
        padding-left: 36px;
    }
}

.main-board-layout{
    position: relative;
    min-height: 1px;
}

@media(min-width: 992px){
    .main-board-detail{
        display: flex;
    }
}

@media(min-width: 992px){
    .main-board{
        width: 100%;
    }
}

@media(min-width: 992px){
    .main-board{
        padding-right: 1rem;
    }
}

@media(min-width: 768px){
    .board{
        display: flex;
        padding: 1.25rem
    }
}

.board{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
}

.board{
    border-radius: 5px;
    border-width: 1px;
    border: 0 solid #e3e3e3;
}

.board{
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 0;
}


@media(min-width: 768px){
    .board-side{
        display: block;
    }
}

.board-side{
    width: 65px;
}

.board-button{
    font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: .2s;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    --border-opacity: 1;
    border: 1px solid #eee;
    border-color: rgba(238,238,238,var(--border-opacity));
    height: 35px;
}

.board-side-badge{
    display: block;
    margin-top: -20px;
    width: 45px;
    height: 85px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 15px 0;
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #f6f6f6;
    background-color: rgba(246,246,246,var(--bg-opacity));
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.board-button{
    font-size: .875rem;
}

button{
    margin: 0;
    overflow: visible;
    text-transform: none;
    cursor: pointer;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.icon{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.question-mark:before{
    content: "?";
}

:after, :before{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

p{
    margin: 0 0 12.5px;
}

@media(min-width:768px){
    .main-content-layout{
        width: calc(100% - 65px);
    }
}

.main-content-header{
    padding: 0 0 10px;
    border-bottom-width: 1px
}

.main-content-title{
    word-break: break-all;
    margin-bottom: 0.4rem;
    font-size: 24px;
}

h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
    margin:0;
}

.main-content-title span{
    --text-opacity: 1;
    color: #1fc7c1;
    color: rgba(31,199,193,var(--text-opacity));
}

.justify-content{
    display: flex;
    justify-content: space-between;
}

.item-center{
    align-items:center;
    display: flex;
}

.userName{
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
}

.userName a{
    text-decoration: none;
    background-color: transparent;
}

.userName a span{
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.overflow-hidden{
    overflow: hidden;
}

.flex{
    display: flex;
}

.flex a{
    margin-right: 0.25rem;
    font-size: .875rem;
    text-decoration: none;
    background-color: transparent;
}

.write-date{
    font-size: .875rem;
    color: #aaa;
    margin-left: 0.25rem;
}

.main-content{
    padding: 10px 0;
    font-weight: 200;
}

.content{
    caret-color: #1fc7c1;
    line-height: 1.75;
}

.content p{
    word-break: break-word;
    word-wrap: break-word;
    min-height: 25px;
    margin: 0 0 12.5px;
}

.main-content-footer{
    position: relative;
    padding: 0 0 10px;
}

.float-none{
    float:none;
}

.question-button{
    font-size: 13px;
    height: auto;
    padding: 6px 13px;
}

.button-outline{
    border-width: 1px;
    --border-opacity: 1;
    border-color: #333;
    border-color: rgba(51,51,51,var(--border-opacity));
    background-color: transparent;
    border-radius: 9999px;
}

.declaration{
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button-comment{
    margin-left: 0.75rem;
    font-size: 22px;
    padding: 0;
}

.button-none{
    border-width: 0;
    background-color: transparent;
    height: auto;
}

.commentList{
    margin-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    --bg-opacity: 1;
    background-color: #fafafa;
    background-color: rgba(250,250,250,var(--bg-opacity));
    border-top-width: 1px;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.commentList{
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    margin-top: 1.5rem;
    padding: 0.75rem;
}


@media (min-width: 768px){
    .commentEditor{
        display: flex;
    }
}

.commentEditor span{
    z-index: 10;
    position: absolute;
}

.profile-image{
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    margin-left: 0.5rem;
    border-radius: 50%;
}


.commentEditor-input{
    border-radius: 18px;
    flex: 1 1 0%;
}

.relative{
    position: relative;
}

.editor{
    position: relative;
    margin: 0 auto;
}

.editor-content{
    border-radius: 18px;
    padding-left: 40px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-width: 1px;
    caret-color: #1fc7c1;
    line-height: 1.75;
}

.comment{
    width: 100%;
    padding-bottom: 6px;
    padding-top: 9px;
    outline: none;
    background: transparent;
}

.comment-submit{
    display: block;
    border-radius: 9999px;
    --bg-opacity: 1;
    background-color: #1fc7c1;
    background-color: rgba(31,199,193,var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --border-opacity: 1;
    border-color: #8ddbd7;
    border-color: rgba(141,219,215,var(--border-opacity));
    margin-left: 0.5rem;
}

.change{
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
    margin-left: 0.75rem;
    font-size: .75rem;
}

.delete{
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
    margin-left: 0.25rem;
    font-size: .75rem;
    padding: 0;
}

.comment-content{
    word-break: break-all;
    margin-top: 0.25rem;
    font-size: .875rem;
}

.comment-content{
    margin: 7px 0px 5.5px;
    margin-left: 8px;
}

.side-bar{
    width: 25%;
    padding-left: 1rem;
    flex-direction: column;
}

@media (min-width: 992px){
    .sticky{
        position: sticky;
    }
}

@media (min-width: 992px){
    .block{
        display: block;
    }
}

.side-bar-layout{
    z-index: 0;
    flex-direction: column;
}

@media (min-width: 992px){
    .mt-0{
        margin-top: 0;
    }
}

@media (min-width: 992px){
    .order{
        order: 2;
    }
}

@media (min-width: 768px){
    .a-card{
        border-radius: 5px;
        border-width: 1px;
    }
}

.mb-2{
    margin-bottom: 0.5rem;
}

.a-card{
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 0;
}

.a-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 0;
    padding: 18px 12px 14px;
}

.a-card-header h5{
    width: 100%;
    margin: 0;
    word-break: break-all;
    font-size: 16px;
}

h5{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
}

.a-card-header-tag{
    font-size: .75rem;
    padding: 3px 5px 3px 4px;
    background-color: rgba(31,199,193,var(--bg-opacity));
}

.label{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.a-card-content{
    padding: 0 16px 16px;
    font-weight: 200;
}

.list-none{
    list-style-type: none;
}

ul{
    margin-top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem{
    border: 1px solid #e3e3e3;
    padding: 0.75rem;
    --bg-opacity: 1;
    background-color: #f2faf9;
    background-color: rgba(242,250,249,var(--bg-opacity));
    --text-opacity: 1;
    color: #4d5256;
    color: rgba(77,82,86,var(--text-opacity));
    border-radius: 10px;
}

.list-icon{
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list-icon-tag{
    margin-right: 0.25rem;
    font-size: .875rem;
    --text-opacity: 1;
    color: #1fc7c1;
    color: rgba(31,199,193,var(--text-opacity));
}


.button-action{
    position: fixed;
    display: flex;
    right: 28px;
    bottom: calc(0.65rem + 132px);
    z-index: 900;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: #1fc7c1;
    color: #fff;
    overflow: visible;
    font-size: 30px;
    padding-left: 3px;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border: none;
    border-radius: 50%;
    fill: currentColor;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

@media(min-width:992px){
    .question-action{
        --bg-opacity: 1;
        background-color: #1fc7c1;
        background-color: rgba(31,199,193,var(--bg-opacity));
        width: 100%;
        display: none;
        display: block;
        position: relative;
        border-radius: 5px;
        box-shadow: none;
        font-size: 1rem;
        font-weight: 700;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        height: 3rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.color-change{
    background-color:  #e1cb5e;
    border-color:  #eee1a1;
}

.color-changeAppil{
    background-color:  #ff9090 ;
    border-color:  #c8c8c8 ;
}

.declaration-color{
    background-color: #ff0000;
    border-color: #ff5232;
}

.declaration-text-color{
    color: white;
}

.good-button{
    color: #e3e3e3;
}

.icon-change{
    color: red;
}

.icon-changeAppil{
    color: #ff4040;
}

