*{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

div.FindIdPw{
    position: absolute;
    top: 25%;
    left: 40%;
}
div.main_icon span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* font-family: 'Jua', sans-serif; */
    font-size:15px;
    font-weight: 800;
}
a.main_icon{
    display: flex;
    justify-content: center;
}

div.line{
    margin-top: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 1px;
    align-self: center;
}

/* 아이디 비밀번호 찾기 버튼 */
div.some_find_main_buttons{
    display:flex;
    width: 100%;
    height: 54px;
}
div.some_find_main_buttons button{
    width: 49%;
    height: 100%;
    font-size: 13px;
    line-height: 15.6px;
    color: rgb(170, 170, 170);
    border: #fff;
    background: #fff;
    border-bottom: 1px solid rgb(236, 236, 236);
}
/* 클릭했을때 */
div.some_find_main_buttons button:focus{
    width: 50%;
    height: 100%;
    font-size: 13px;
    line-height: 15.6px;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid rgb(17, 17, 17);
    font-weight: 800;
}

div.some_find_main{
    width: 375px;
    height: 430px;
}
div.some_find_main_button button{
    width: 150px
}

p.error-msg{
    margin-top: 10px;
    font-size: 13px;
    color: #fd5d5f;
    display: none;
}
/* 전화번호 입력창 */
div.some_find_phonenum_input_detail input{
    width: 50px;
    height: 26px;
    line-height: 1.2;
    font-size:13px;
    padding: 6px 12px;
    background-color:#f9f9f9 ;
    border: 1px solid #f9f9f9;
}
div.some_find_phonenum_input_detail input:focus{
    outline: none;
    background-color: white;
    border: 1px solid #fd5d5f;
}

select {
    width: 80px;
    padding: 6px 12px;
    background-color:#f9f9f9 ;
    border: 1px solid #f9f9f9;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus{
    outline: none;
    background-color: white;
    border: 1px solid #fd5d5f;
}
div.some_find_phonenum_input_detail{
    display: flex;
}
div.find_id_pw{
    padding: 0 20px;
}
/* 라벨 인풋박스 */
div.some_find_id_phonenum_input{
    display: flex;
    margin-top: 15px;
}
/* 라벨 인풋박스 */
div label{
    width: 80px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
}


/* 인증번호 발송 */
div.some_join_phonenum_certify_button button{
    width: 95px;
    height: 30px;
    color: #555;
    background-color: white;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #999;
    margin: 15px 0;
}
div.some_find_certify_num{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* 인증번호입력 */
div.find_id_certify_num_input input{
    width: 230px;
    height: 26px;
    line-height: 1.2;
    font-size:13px;
    padding: 6px 12px;
    background-color:#f9f9f9 ;
    border: 1px solid #f9f9f9;
}
div.find_id_certify_num_input input:focus{
    outline: none;
    background-color: white;
    border: 1px solid #fd5d5f;
}
/* 확인 */
div.find_button button{
    width: 335px;
    height: 46px;
    color: #fff;
    background-color: black;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}
/* 비밀번호찾기 상단멘트 */
p.findpw_ment{
    font-size: 15px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-top: 40px;
}
/* 인증번호 입력창 */
div.find_pw_id input{
    height: 40px;
    min-height: 40px;
    width: 100%;
    line-height: 1.2;
    font-size:13px;
    padding: 6px 12px;
    background-color:#f9f9f9 ;
    border: 1px solid #f9f9f9;
}
div.find_pw_id input:focus{
    outline: none;
    background-color: white;
    border: 1px solid #fd5d5f;
}

/* 비밀번호찾기 하단멘트 */
span.findpw_ment_footer{
    color: rgb(153, 153, 153);
    font-size: 13px;
    line-height: 20.8px;
    position: relative;
    margin-bottom: 0px;
    white-space: normal;
    word-break: normal;
}

p.Find_id_ment {
    font-size: 11px;
    color:#888888;
}
span{
    font-size: 11px;
}











