button {
    cursor: pointer;
}

* {
    border: 0 solid #e3e3e3;
}

.base {
    background-color: #fff;
    min-height: calc(100vh - 200px);
    padding-top: 60px;
}
/* 사이드 메뉴 바 */
.menu-active {
 background: orange;
}
.menu-ractive{
 background: #00000078;
}
.offcanvas-header {
    background-color: #f9d9da;
}

.sidebar-body{
    padding: 1.25rem;
    border-bottom: 1px solid #f5d6d6;
}

.profile {
    margin-right: 130px;
}

.user-info{
    margin-left: 1rem;
    font-weight: 700;
    font-size: 21px;
}

.offcanvas-title{
    margin: 0 auto;
}

.main-link {
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    display: flex;
    margin-top: 2rem;
}

.main-link img {
    display:block; 
    margin: 0 auto; 
    width: 50px; 
    height: 50px;
}

.signup-btn {
    background-color: #f1f1f1;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.menuList .item {
    border-bottom: 1px solid #f5d6d6;
    text-align: left;
    padding: 1rem 1.25rem;
    display: block;
    font-weight: 500;
}

/* 상단 고정바 css  */
.top-header {
    background-color: #fff;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
    z-index: 1000;
}

.top-header .top-header-wrap {
    width: 100%;
    margin: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    text-align: center;
    
}

.top-header .top-header-wrap .menuBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.28rem;
    background: none;
    border: none;
}

.top-header .top-header-wrap .a-alarmBadge {
    position: absolute;
    background-color: #fd5d5f;
    border-radius: 9999px;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
}

.top-header .top-header-wrap .menuBar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 4px;
}

.main-logo {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 317px;
    z-index: 7;
}

.right-header {
    white-space: nowrap;
    float: right;
    display: flex;
    align-items: center;
    line-height: 60px;
    height: 60px;
}

.right-header a+a{
    margin-left: 24px;
}

.signup {
    background-color: #fd5d5f;
    color: #fff;
    height: 35px;
    width: 86px;
    line-height: 2.2;
    border-radius: 12px;
}

/* banner */
.banner-container {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    margin: 0 auto;
    width: 70vw;
    overflow: hidden;  
    height: fit-content;
    position: relative; 
}
    
div.banner {  
    width: 280vw;  
    /* transform: translate(-90vw); */
    transition: transform 1s;
}
    
div.img {
    width: 70vw;
    float: left;
}
    
div.img img { 
    width: 100%;  
    display: block;
}
    
div.arrow {
    position: absolute;
    font-size: 2rem;
    z-index: 1; 
    width: 35px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 23vh;
    color: #00000070;
    background-color: white;
}

.prev{
    left: 0px;
}
    
div.next {  
    right: 0;
}
    
div.btns {
    position: absolute;
    text-align: center;
    bottom: 2px;
    width: 100%;
    left: 6px;
}

.wrap {
    background-color: #fff;
    padding-top: 1.25rem;
}

/* main */
.home-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2.5rem;
    width: 70vw;
}

.homeButtons {
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #333;
    --bg-opacity: 1;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.text-center {
    flex: 1 1 0%;
    border-right-width: 1px;
}

.text-center img{
    width: 40px;
    height: 40px;
}

.inConts {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.mTitle {
    padding-bottom: 40px;
    text-align: center;
}

.mTitle>dd {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    letter-spacing: 0.03em;
}

.mTitle>dd:before {
    content: '';
    display: block;
    width: 48px;
    height: 26px;
    background: url("http://ssumthink.com/theme/basic/img/tit_icon.png") no-repeat left top;
    margin: 0 auto;
    margin-bottom: 10px;
}

.mTitle>dt {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #666;
}

.content-container {
    width: 1205px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 193px;
}


.date-line {
    position: relative;
    height: 90px;
}

.date-line:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}

.date-line span {
    position: absolute;
    left: 51%;
    top: 50%;
    margin-left: -105px;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    width: 194px;
    padding: 10px 0;
    margin-bottom: 50px;
    display: inline-block;
    margin-top: -25px;
}
.user-count  {
    text-align: center;
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    height: 168px;
    justify-content: center;
}
.circle {
    width: 295px;
}
.application-banner {
    margin-top: 60px;
}

.app-banner{
    background-image: url(../img/매칭신청베너.png);
    height: 338px;
    background-position: center;
    background-size: 1205px;
    background-repeat: no-repeat;
}

.application-btn {
    border-radius: 9999px;
    width: 31%;
    height: 63px;
    min-width: 150px;
    background-color: #fd5d5f;
    color: #fff;
    border-color: #fff;
}

.application {
    margin-left: 41%;
    margin-top: -176px;
}

.homeSection {
    margin-top: 7.5rem;
}

.homeSection-title {
    position: relative;
    margin-bottom: 1.25rem;
    padding-top: 1.25rem;
    font-weight: 700;
}

.success {
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.success-items {
    width: 25%;
    padding: 0.5rem;
}

.card-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 1px;
    border-radius: 10px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    padding: 18px 20px 14px;
}
.card-bottom {
    margin-top: 60px;
}

.text-back {
    --text-opacity: 1;
    color: #333;
    color: rgba(51,51,51,var(--text-opacity));
}

.community-wrap {
    flex-wrap: wrap;
    display: flex;
}

.community {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.community-card {
    display: flex;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-width: 1px;
    border-radius: 10px;
    flex-direction: column;
    background: #fff;
}

.community-title {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.community-answer {
    position: relative;
    border-top-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    border-color: rgba(225,228,230,.5);
}
.q-img{
    margin-bottom: 3px;
    margin-right: 5px;
    width: 23px;
    height: 23px;
}

.sprite-icons {
    width: 1rem;
    height: 1rem;
}
.FAQ-card__answer__icon {
    position: absolute;
    margin-right: 0.5rem;
    padding-bottom: 0.25rem;
    margin-left: 2px;
    margin-top: 5px;
}

.answer-content{
    position: relative;
    left: 32px;
    color: #4d5256;
}

.slide-button{
    transition: all .6s;
    background-color: #fff;
}

#slideBtn {
    cursor: pointer;
}

.material-icons{
    position: relative;
     bottom: -4px;
}
.join1_box{
    display: flex;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-width: 1px;
    border-radius: 10px;
    flex-direction: column;
    background: #fff;
    margin-bottom: 10px;
}
.join1_box input{display:none}
.join1_box h4  {position:relative;font-size:18px;font-weight:bold;color:#292929;width:100%}
.join1_box h4 strong{font-size:16px;font-weight:bold;color:#ef1c26;}
.join1_box h4 label{position:absolute;top:0;right:0;width:31px;height:30px;background:url(../../images/join/chk_off.gif) no-repeat 0 0;cursor:pointer}
.join1_box h4 label.on{background:url(../../images/join/chk_on.gif) no-repeat 0 0}
.join1_box .con{
    position: relative;
    border-top-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    border-color: rgba(225,228,230,.5);
}
.join1_box .view{font-size:14px;color:#444;opacity:0.8;display:inline-block;margin-left:20px;cursor:pointer}
.join1_box.on .con{display:block;border-left: 3px solid rgba(238, 238, 238, 0.057);}
.join1_box.on .view {opacity:1}
.joinform{
    width: 720px;
    margin: 8px auto;
}

/* 쪽지 */
.channel-talk-button {
    cursor: pointer;
    position: fixed;
    border-style: none;
    width: 60px;
    height: 60px;
    bottom: 71px;
    right: 28px;
    background: url("https://cdn-icons-png.flaticon.com/512/3010/3010825.png") 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
}

/* footer css */
.footer {
    font-size: .75rem;
    border-top: 1px solid #f3f5f9;
    height: 240px;
    padding-top: 60px;
    background-color: #f9d9da;
}

.footer-container {
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 100%;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
}

.footer-logo {
    margin-top: 20px;  
}

.footer-info {
    display: flex;
    list-style-type: none;
    margin-top: 1.25rem;
}

.ft {
    margin-right: 0.75rem;
}
.ft-1{
    font-size: .875rem;
    padding-left: 33px;
    max-width: 520px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

