* {
    border: 0 solid #e3e3e3;
}
.page-color {
    background-color: #f8f8f8;
}
/* 사이드 메뉴 바 */
.menu-active {
    background: orange;
   }
   .menu-ractive{
    background: #00000078;
   }
   .offcanvas-header {
       background-color: #f9d9da;
   }
   
   .sidebar-body{
       padding: 1.25rem;
       border-bottom: 1px solid #f5d6d6;
   }
   
   .profile {
       margin-right: 130px;
   }
   
   .user-info{
       margin-left: 1rem;
       font-weight: 700;
       font-size: 21px;
   }
   
   .offcanvas-title{
       margin: 0 auto;
   }
   
   .main-link {
       justify-content: space-between;
       width: 100%;
       font-size: 13px;
       display: flex;
       margin-top: 2rem;
   }
   
   .main-link img {
       display:block; 
       margin: 0 auto; 
       width: 50px; 
       height: 50px;
   }
   
   .signup-btn {
       background-color: #f1f1f1;
       position: absolute;
       padding-top: 1rem;
       padding-bottom: 1rem;
       right: 0;
       bottom: 0;
       left: 0;
   }
   
   .menuList .item {
       border-bottom: 1px solid #f5d6d6;
       text-align: left;
       padding: 1rem 1.25rem;
       display: block;
       font-weight: 500;
   }
   
   /* 상단 고정바 css  */
   .top-header {
       background-color: #fff;
       border-bottom-width: 1px;
       position: fixed;
       top: 0;
       width: 100%;
       height: 61px;
       box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
       z-index: 1000;
   }
   
   .top-header .top-header-wrap {
       width: 100%;
       margin: 0;
       height: 100%;
       margin-left: auto;
       margin-right: auto;
       max-width: 1500px;
       padding-left: 1.5rem;
       padding-right: 1.5rem;
       position: relative;
       text-align: center;
       
   }
   
   .top-header .top-header-wrap .menuBtn {
       position: absolute;
       top: 0;
       left: 0;
       padding: 1.28rem;
       background: none;
       border: none;
   }
   
   .top-header .top-header-wrap .a-alarmBadge {
       position: absolute;
       background-color: #fd5d5f;
       border-radius: 9999px;
       right: 0;
       top: 0;
       width: 6px;
       height: 6px;
   }
   
   .top-header .top-header-wrap .menuBar {
       display: block;
       width: 25px;
       height: 3px;
       background-color: #333;
       margin-bottom: 4px;
   }
   
   .main-logo {
       display: inline-block;
       position: relative;
       margin: 0px 0px 0px 317px;
       z-index: 7;
   }
   
   .right-header {
       white-space: nowrap;
       float: right;
       display: flex;
       align-items: center;
       line-height: 60px;
       height: 60px;
   }
   
   .right-header a+a{
       margin-left: 24px;
   }
   
   .signup {
       background-color: #fd5d5f;
       color: #fff;
       height: 35px;
       width: 86px;
       line-height: 2.2;
       border-radius: 12px;
   }
   
   
/* 쪽지 */
.channel-talk-button {
    cursor: pointer;
    position: fixed;
    border-style: none;
    width: 60px;
    height: 60px;
    bottom: 71px;
    right: 28px;
    background: url("https://cdn-icons-png.flaticon.com/512/3010/3010825.png") 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
}

/* footer css */
.footer {
    font-size: .75rem;
    border-top: 1px solid #f3f5f9;
    height: 240px;
    padding-top: 60px;
    background-color: #f9d9da;
}

.footer-container {
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 100%;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
}

.footer-logo {
    margin-top: 20px;  
}

.footer-info {
    display: flex;
    list-style-type: none;
    margin-top: 1.25rem;
}

.ft {
    margin-right: 0.75rem;
}
.ft-1{
    font-size: .875rem;
    padding-left: 33px;
    max-width: 520px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


.base {
    margin-top: 0;
    padding-top: 61px;
    min-height: calc(100vh - 400px);
}

.profileHeader {
    height: 210px;
    position: relative;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    background-color: #f9d9da;
}

.profileHeader .a-container{
    padding: 1.25rem 1.5rem;
    align-items: flex-end;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.a-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1500px;
}

.a-button{
    margin-left: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1rem;
    height: 35px;
    background-color: #fd5d5f;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

.profileMenu {
    border-top-width: 0;
    background-color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.nav-container {
    padding-left: 35%;
    display: flex;
    max-width: 1500px;
    width: 100%;
    padding-right: 1.5rem;
}

.profile-tabList {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
}

.a-tabList {
    display: inline-block;
    font-size: 1.125rem;
    padding-top: 23px;
    padding-bottom: 23px;
}

.nav-container ul {
    margin: 0;
    padding: 0;
}

.profile-info {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile-aside {
    width: 360px;
}

.profileUser {
    margin-bottom: 2rem;
    padding: 20px 15px 15px;
    border-radius: 30px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    position: relative;
    text-align: center;
    padding: 20px 15px 5px;
    z-index: 200;
    margin-top: -10rem;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}

.profileImage{
    padding-left: 1rem;
    padding-right: 1rem;
}

.userImage {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 5px;
    z-index: 1;
}

.userName {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.matching-num {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.matching-info {
    display: inline-block;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    cursor: pointer;
}

.count-num {
    font-size: 1.5rem;
    font-weight: 700;
}
.count-num-font {
    --text-opacity: 1;
    color: #989898;
    color: rgba(152,152,152,var(--text-opacity));
}

.pimage {
    width: 300px;
    height: 300px;
}

.profile-main {
    padding-left: 2rem;
    width: calc(100% - 360px);
}

.profile-index {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.matching-user {
    width: 100%;
}


.matching-user-info {
    display: flex;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255,255,255,var(--bg-opacity));
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
    border-radius: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}