body {
    margin: 0;
    border: 0;
    padding: 0;

    height: 100%;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}
div label{
    width: 79px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
}
span{
    font-size: 13px;

}

.background-wrap {
    width: 100%;
}

.signup-container {
    margin: 0 auto;
    max-width: 355px;
}


.signup-container .header {
    margin: auto;
    width: 424px;
    background-color: #333;
    padding: 24px 20px 20px;
    height: 86px;
}

.signup-container .lawtalk {
    display: block;
    color: #FF4E00;
    font-size: 18px;
    letter-spacing: -2px;
    margin-top: -7px;
}
.signup-container{
    position: relative;
    top: 113px;
    height: 1750px;
}

.signup-container .lawtalk h2 {
    margin: 0;
}

.signup-container .goodlawyers {
    margin-top: -9px;
}

.signup-container .goodlawyers b {
    color: #fff;
    font-size: 24px;
}

.clien-sign-up {
    margin-top: 15px;
}

.clien-sign-up-span {
    color: #fff;
    font-size: 16px;
}




.vertical-line {
    border-left: 1px solid #f7e317;
    height: 100%;
    float: left;
}
.vertical-line2 {
    border-left: 1px solid #1e0ed4;
    height: 100%;
    float: left;
}

.text {
    margin: auto 12px;
    float: left;
}

.kakao-icon {
    background-image: url("https://d2ai3ajp99ywjy.cloudfront.net/app/images/f68fbcaa58e2893c0642.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    float: left;
    height: 100%;
    margin: 0 7px;
    width: 30px;
}


.toggle {
    position: relative;
    display: inline-block;
}

label.toggle-item {
    width: 35px;
    background: #2e394d;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    transition: all 0.3s ease;
    transform-origin: 20% center;
    top: 5px;
    cursor: pointer;
}

label.toggle-item:before {
    display: block;
    transition: all 0.2s ease;
    width: 35px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 2em;
    border: 2px solid #88cf8f;
    transition: 0.3s ease;
}

.normal1 label{
    background: #c0b3b6;
}
.normal1 label:before {
    border: none;
    width: 10px;
    height: 10px;
    background: #fff;
}

#normal1:checked + label {
    background: #37b0c9;
}
#normal1:checked + label:before {
    left: 20px;
}


.normal2 label{
    background: #c0b3b6;
}
.normal2 label:before {
    border: none;
    width: 10px;
    height: 10px;
    background: #fff;
}

#normal2:checked + label {
    background: #fd5d5f;
}
#normal2:checked + label:before {
    left: 20px;
}



.info {
    background-color: #f9f6f4;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    padding: 0 16px;
    margin-bottom: 0;
}

.input-info {
    /* padding: 10px 16px 46px; */
    background-color: #fff;
}
/* 버튼 */
div.some_join_input_button button{
    width: 100px;
    height: 30px;
    color: #555;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #999;
    position: absolute;
    margin: 10px 176px 0;


}

/* .sign-main-container .form-control {
    border: 0;
    box-shadow: none!important;
    color: #757575;
    font-size: 13px;
    height: 26px;
    width: 230px;
    padding: 6px 12px;
} */

/*.form-control-button{*/
/*    border: 0;*/
/*    border-bottom: 1px solid #ddd;*/
/*    background-color: #fff;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    line-height: 3;*/
/*    color: #757575;*/
/*    padding: 10px 0;*/
/*}*/

.form-group {
    margin-top: 30px;
    position: relative;
}

label {
    align-items: center;
    cursor: pointer;
    position: relative;
}

.code-button {
    background-color: #fff;
    border: 0;
    position: absolute;
    right: 0;
    margin-top: 13px;
    cursor: pointer;
}

.cons-info {
    background-color: #fff;
    font-size: 13px;
    padding: 0 16px;
    line-height: 60px;
    vertical-align: middle;
    border-top: 1px solid #f9f6f4;
}

.cons-button {
    margin-left: 270px;
    display: inline-block;
    cursor: pointer;
}

/* .constract-container {
    padding: 10px 16px 46px;
    background-color: #fff;
} */

.constract-all {
    color: #555;
    font-size: 13px;
    line-height: 16px;
    margin-left: 34px;
    margin-top: 26px;
}




.constract-all-text {
    color: #757575;
    font-size: 12px;
    line-height: 18px;
    margin-left: 34px;
    margin-top: 8px;
}


.constract-text {
    color: #555;
    font-size: 16px;
    line-height: 16px;
    margin-left: 34px;
    margin-top: 26px;
}

.description {
    color: #555;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: -3px;
    padding-top: 9px;
    letter-spacing: -1px;
}

.check-age {
    letter-spacing: -1px;
    margin-top: 22px;
    font-size: 12px;
}

a {
    text-decoration: none;
}
.constract-container {
    margin-top: 70px;
}

.constract-container input {
    position: absolute;
    left: 0;
    margin-left: -26px;
    margin-top: 15px;
}

.footer-button {
    width: 335px;
    height: 46px;
    color: #fff;
    background-color: black;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
}


.footer-button-click {
    background-color: black;
    border: none;
    color: #fff;
    font-family: Notokr-Bold;
    font-size: 15px;
    height: 48px;
    width: 100%;
    cursor: pointer;
}

.row-footer {
    padding: 20px 24px;
    text-align: center;
}

.row {
    padding: 10px 0;
    margin-top: -10px;
}

div.main_icon span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* font-family: 'Jua', sans-serif; */
    font-size:15px;
}
a.main_icon{
    display: flex;
    justify-content: center;
}

div.line{
    margin-top: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 1px;
    align-self: center;
}
div.line_agree{
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 1px;
    align-self: center;

}
div.some_join_input{
    display: flex;
}
div.some_join_input_codeNum{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
div.some_join_input_name{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

div.some_find_id_phonenum_input input{
    width: 280px;
    height: 40px;
    line-height: 1.2;
    font-size:13px;
    padding: 6px 12px;
    background-color:#f9f9f9 ;
    border: 1px solid #f9f9f9;
}
div.some_find_id_phonenum_input input:focus{
    outline: none;
    background-color: white;
    border: 1px solid #fd5d5f;
}


input[type='checkbox']{
    accent-color: #fd5d5f;
}

div.some_join_input_nick label{width: 95px;
    height: 30px;
    color: #555;
    background-color: white;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #999;
}

input[type=checkbox] {

    -ms-transform: scale(2); /* IE */

    -moz-transform: scale(2); /* FF */

    -webkit-transform: scale(2); /* Safari and Chrome */

    -o-transform: scale(2); /* Opera */

    padding: 10px;

}

#cbx_chkAll{
    position: absolute;
    top: -12px;
}

/* .form-control{
    background-color: rgb(249, 249, 249);
} */

/* 사이드 메뉴 바 */
.menu-active {
    background: orange;
}
.menu-ractive{
    background: #00000078;
}
.offcanvas-header {
    background-color: #f9d9da;
}

.sidebar-body{
    padding: 1.25rem;
    border-bottom: 1px solid #f5d6d6;
}

.profile {
    margin-right: 130px;
}

.user-info{
    margin-left: 1rem;
    font-weight: 700;
    font-size: 21px;
}

.offcanvas-title{
    margin: 0 auto;
}

.main-link {
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    display: flex;
    margin-top: 2rem;
}

.main-link img {
    display:block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.signup-btn {
    background-color: #f1f1f1;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.menuList .item {
    border-bottom: 1px solid #f5d6d6;
    text-align: left;
    padding: 1rem 1.25rem;
    display: block;
    font-weight: 500;
}

/* 상단 고정바 css  */
.top-header {
    background-color: #fff;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
    z-index: 1000;
}

.top-header .top-header-wrap {
    width: 100%;
    margin: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    text-align: center;

}

.top-header .top-header-wrap .menuBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.28rem;
    background: none;
    border: none;
}

.top-header .top-header-wrap .a-alarmBadge {
    position: absolute;
    background-color: #fd5d5f;
    border-radius: 9999px;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
}

.top-header .top-header-wrap .menuBar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 4px;
}

.main-logo {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 317px;
    z-index: 7;
}

.right-header {
    white-space: nowrap;
    float: right;
    display: flex;
    align-items: center;
    line-height: 60px;
    height: 60px;
}

.right-header a+a{
    margin-left: 24px;
}

.signup {
    background-color: #fd5d5f;
    color: #fff;
    height: 35px;
    width: 86px;
    line-height: 2.2;
    border-radius: 12px;
}
/* 쪽지 */
.channel-talk-button {
    cursor: pointer;
    position: fixed;
    border-style: none;
    width: 60px;
    height: 60px;
    bottom: 71px;
    right: 28px;
    background: url("https://cdn-icons-png.flaticon.com/512/3010/3010825.png") 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
}

/* footer css */
.footer {
    font-size: .75rem;
    border-top: 1px solid #f3f5f9;
    height: 240px;
    padding-top: 60px;
    background-color: #f9d9da;

}

.footer-container {
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 100%;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
}

.footer-logo {
    margin-top: 20px;
}

.footer-info {
    display: flex;
    list-style-type: none;
    margin-top: 1.25rem;
}

.ft {
    margin-right: 0.75rem;
}
.ft-1{
    font-size: .875rem;
    padding-left: 33px;
    max-width: 520px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}






