<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>썸썸</title>
</head>
<body style="background-color: #f8f8f8">
<!-- 상단 고정 바 -->
<div class="top-header">
    <div class="top-header-wrap">
        <!--  <button class="menuBtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" id="slidebutton">
             <span class="a-alarmBadge" style="top: 11px; right: 9px;"></span>
             <span class="menuBar"></span>
             <span class="menuBar" style="width:19px; height: 4px;"></span>
             <span class="menuBar"></span>
         </button> -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    <div class = "sidebar-title">
                        <strong>썸썸</strong>
                    </div>
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body sidebodyGW">
            </div>

        </div>
        <h1 class="main-logo">
            <a href="main.html">
                <img src="/img/sumsum_logo.png">
            </a>
        </h1>
        <div class="right-header">
            <!-- 포인트 점수 받아오기 -->
            <a class="point" href="myPagePoint.html">

            </a>
            <!-- 채팅 받아오기 -->
            <a class="chatting" href="letter.html">

            </a>
            <!-- 로그인 -->
            <a class="login" href="login.html">

            </a>
            <!-- 회원가입 -->
            <div class="login">

                <span th:text="${session.adminId}+'님 어서오세요.'"></span>
                <span style="font-weight: bold;"><a href="/logout">로그아웃</a></span>
                <!--<h2 th:text="${#request.getSession().getAttribute('adminId')}"></h2>-->
            </div>
        </div>
    </div>
</div>





<div style="padding-top: 124px;">
<section>
    <aside>
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   왼쪽 상단-->
        <div style="position:fixed;">
            <div  class="list-group" style="width: 350px;border-radius: 10px; padding-left: 33px;">
                <button style="padding: 24px; background-color: #ff6347; font-weight: bolder; font-size: 22px; text-align: center;" type="button" class="list-group-item list-group-item-action" aria-current="true">
                    사용자 관리
                </button>
                <button style="padding: 15px; font-weight: bolder;" type="button"><a href="/adminpage">전체 게시판</a></button>
                <button style="padding: 15px; font-weight: bolder;"type="button"><a href="/adminAppilField">어필 하기</a></button>
                <button style="padding: 15px; font-weight: bolder;" type="button"><a href="/adminBoardField">고민 상담</a></button>
                <button style="padding: 15px; font-weight: bolder;" type="button"><a href="/adminReviewField">후기 게시판</a></button>
                <button style="padding: 15px; font-weight: bolder;" type="button"><a href="/adminPointField">회원 결제 내역</a></button>
                <button style="padding: 15px; background-color: darkgrey; font-weight: bolder; text-align: center; font-size: 19px;" type="button"><a href="/adminBlackList">B L A C K  -  L I S T</a></button>
            </div>
        </div>
    </aside>
    <!-- 검색 창 -->
    <div>
    <input type="text" placeholder="검색어 입력" class="search" style="padding: 30px;">
    <button type="submit" class="search-btn">검색</button>
        <div id="all-list" class="all-list">
            <div class="board_list_wrap">
                <div class="board_list" style="width: 1440px;">
                    <div class="board_list_head">
                        <div class="num">번호</div>
                        <div class="cate">충전금액</div>
                        <div class="tit">충전방법</div>
                        <div class="writer">포인트 사용</div>
                        <div class="date">포인트 잔액</div>
                        <div class="view">충전 날짜</div>
                        <div class="regist_date">유저 번호</div>
                        <div class="dele">관리</div>
                    </div>
                        <div class="board_list_body">
                                <th:block th:each="point:${pointList}">
                                    <div class="item">
                                        <tr class="tBody" th:object="${point}">
                                            <div class="boardNum"><td th:text="*{pointNum}"></td></div>
                                            <div class="boardField"><td th:text="*{pointPrice}"></td></div>
                                            <div class="boardTitle"><td th:text="*{pointWay}" ></td></div>
                                            <div class="userNum"><td th:text="*{pointUse}"></td></div>
                                            <div class="boardUpdateDate" id="pointRemain"><td th:text="*{pointRemain}"></td></div>
                                            <div class="warningCount"><td th:text="*{pointDate}"></td></div>
                                            <div class="boardRegisterDate" id="userNum"><td th:text="*{userNum}"></td></div>
                                            <div class="dele" style="display: -webkit-inline-box;">
                                                <div>
                                                    <select style="width: 80px; margin-left: -36px;" class="update-btn">
                                                        <option class="charge" value="3000">3000</option>
                                                        <option class="charge" value="5000">5000</option>
                                                        <option class="charge" value="10000">10000</option>
                                                        <option class="charge" value="30000">30000</option>
                                                        <option class="charge" value="50000">50000</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <button type="submit" class="delete-btn" id="charge_point">충 전</button>
                                                </div>
                                            </div>
                                        </tr>
                                    </div>
                                </th:block>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 40px;font-size: 23px;margin-bottom: 20px;">
                        <a class="changePage" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}"><code>&lt;</code></a>
                        <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                            <code th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}" style="margin-right: 15px; width: 26px;height: 26px;"></code>
                            <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}"><code th:text="${num}"style="margin-right: 15px; width: 26px;height: 26px;"></code></a>
                        </th:block>
                        <a class="changePage" th:if="${pageDTO.next}" th:href="${pageDTO.endPage + 1}"><code>&gt;</code></a>
                    </div>
                    <form action="/adminPointField" th:object="${criteria}" name="pageForm">
                        <input type="hidden" th:field="*{pageNum}">
                        <input type="hidden" th:field="*{amount}">
                    </form>
            </div>
        </div>
    </div>
    </main>
</section>
</div>






<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<!-- footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="main.html">
                <img src="/img/sumsum_logo.png">
            </a>
        </div>
        <div>
            <ul class="footer-list">
                <li class="ft">썸썸소개</li>
                <li class="ft">이용약관</li>
                <li class="ft">개인정보처리방침</li>
                <li class="ft">자주 묻는 질문(FAQ)</li>
                <li class="ft">문의하기</li>
            </ul>
            <ul class="footer-info">
                <li class="ft">법인명: 썸썸 코벤져스</li>
                <li class="ft">사업자 등록번호:123-12-123456</li>
                <li class="ft">사업자 정보확인</li>
                <li class="ft">대표자명: 한동석</li>
                <li class="ft">주소: 서울 강남구 테헤란로 146</li>
            </ul>
            <div class="ft-1">
                © 2022 kovengers. We are best team.
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">;
let boardNum = [[${boardNum}]];
let $pageForm = $(pageForm);
let params = [[${pageDTO.criteria.listLink}]];

$("a.changePage").on("click", function(e){
    e.preventDefault();
    $pageForm.find("input[name='pageNum']").val($(this).attr("href"));
    $pageForm.submit();
});

</script>
<script>


    $(".delete-btn").on('click', function(e) {
        let userNum = document.getElementsByClassName("boardRegisterDate").item(this);
        console.log(userNum);
        let point = document.getElementsByClassName("charge").item(this);
        console.log(point);
        if (confirm("충전하시겠습니까 ?")) {
            $.ajax({
                url : "/point",
                type : "get",
                data : {
                    userNum : userNum,
                    pointRemain : point
                },
                success : function(res){
                    alert('충전 완료');
                    location.href="/adminPointField"
                }
            })
        }
    });
</script>
<!--<script>
    let id= sessionStorage.getItem("adminId");
    console.log(id);
    function tabOpen(evt, contentName){
        var i, tabcontent, tab_btn;

        tabcontent = document.getElementsByClassName("all-list");
        for(i = 0; i<tabcontent.length; i++){ //내용을 나열
            tabcontent[i].style.display = "none";
        }

        tab_btn = document.getElementsByClassName("tabs");
        for(i = 0; i<tab_btn.length; i++){ // 탭 버튼 나열

            //탭 버튼을 눌렀을 때 기존 탭 class 삭제
            tab_btn[i].className = tab_btn[i].className.replace(" active","");


        }
        //탭을 눌렀을 때 해당 id의 내용을 출력
        document.getElementById(contentName).style.display = "block";
        //class 생성 이벤트 발생
        evt.currentTarget.className += " active";
    }

    function button_event(){

        if (confirm("정말 회원을 영구 정지시키시겠습니까??") == true){    //확인
            var form = document.test;
            form.submit();

        }else{   //취소
            return;
        }
    }
</script>-->
</html>