<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인|썸썸</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminLogin.css">
</head>
<body>
<form action="/adminLogin" method="post" name="some_login">
    <div class="somelogin_box">
        <a class="main_icon">
            <img src="/img/sumsum_logo.png">
        </a>
        <div class="line"></div>
        <div class="somelogin">
                <div class="somelogin_id">
                    <div class="somelogin_id_box">
                        <label class="label" for="id" >관리자 아이디</label>
                        <div class="somelogin_id_input">
                            <input name="adminId" placeholder="관리자아이디" type="text" max-length="20" id="id" class="" value="">
                        </div>
                    </div>
                </div>
                <div class="somelogin_pw">
                    <div class="somelogin_pw_box">
                        <label class="label" for="pw" >비밀번호</label>
                        <div class="somelogin_pw_input">
                            <input name="adminPw" placeholder="비밀번호"  type="password" max-length="20" id="pw" class="" value="">
                        </div>
                    </div>
                </div>
                <button class="somelogin_button">관리자 페이지 접속</button>
                <!-- <div class="somelogin_choice">
                    <a class="join" href="../join/join.html">이메일로 가입</a>
                    <a class="find" href="/find">아이디/비밀번호 찾기</a>
                </div> -->
                <div>
                    <a class="login" href="/login">회원 로그인 페이지</a>
                </div>
        </div>
    </div>
</form>
</body>
<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
    const id = document.getElementById("adminId");
    const pw = document.getElementById("adminPw");


    id.addEventListener("keyup",function(){
        const idBox = document.getElementById("idBox");
        console.log("emd");

        idBox.innerHTML = "관리자 아이디를 입력해주세요"

    });
    id.addEventListener("blur",function(){
        const idBox = document.getElementById("idBox");
        console.log("emd2");

        idBox.innerHTML = ""
        id.style.borderColor = "cornsilk";

    });



    /* pw.addEventListener("click",function(){
        const idBox = document.getElementById("pwBox");
        console.log("emd");

        idBox.innerHTML = "썸썸 아이디를 입력해주세요"

    });*/
    pw.addEventListener("focus",function(){
        const pwBox = document.getElementById("pwBox");
        console.log("emd2");

        pwBox.innerHTML = "비밀번호를 입력해주세요"
        /* pw.style.borderColor = "lightskyblue"; */

    });

    pw.addEventListener("keyup",function(){
        const pwBox = document.getElementById("pwBox");
        console.log("emd");

        pwBox.innerHTML = ""
        pw.style.borderColor = "cornsilk";
    });

</script>
</html>

