<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연애 / 결혼 선택하기|썸썸</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/choice.css">
</head>
<body>
<form action="">
    <div class="choice">
        <div class="choice_ment">
            <span>연애 / 결혼 선택하기</span>
        </div>
        <div class="choice_ment_p">
            <p>내 짝은 어디에 있을까?</p>
            <p>원하는 카테고리를 선택해 주세요</p>
            <p>질문지 작성 후 매칭이 시작됩니다!</p>
        </div>
        <div class="choice_box_all">
            <div class="choice_box">

                <div class="img">
                    <img src="../static/img/love.jpg" style="height: 280px;">
                </div>
                <a href="../templates/love.html" id="love">연애</a>

            </div>
            <div>
                <div class="choice_box_empty"></div>
                <div class="choice_box">
                    <div class="img">
                        <img src="../static/img/marry.jpg " style="height: 280px;">
                    </div>
                    <a href="../templates/marry.html" >결혼</a>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>