<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>error page</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />



</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>sumsum</h1>
        </div>
        <h2>요청하신 페이지는 썸썸이 빠르게 준비하겠습니다</h2>
        <form class="notfound-search">
            <input type="text" placeholder="Search...">
            <button type="button">Search</button>
        </form>
        <a href="#"><span class="arrow"></span>메인페이지로 돌아가기</a>
    </div>
</div>

</body>

</html>
