<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.AdminMapper">
    <select id="adminLogin" resultType="adminVO">
        SELECT
        *
        FROM TBL_ADMIN
        WHERE ADMIN_ID = #{adminId} AND ADMIN_PW = #{adminPw}
    </select>
    <select id="getList" resultType="boardVO">
        <![CDATA[
            SELECT BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM
            (
                SELECT /*+ INDEX_DESC(TBL_BOARD PK_BOARD) */
                ROWNUM RN, BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
                FROM TBL_BOARD
                WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
            )

            WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
         ]]>
    </select>
    <select id="getFieldAppil" resultType="boardVO">
        <![CDATA[
            SELECT BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM
            (
                SELECT
                ROWNUM RN, BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
                FROM TBL_BOARD
                WHERE ROWNUM <= #{criteria3.pageNum} * #{criteria3.amount}
            )

            WHERE RN > (#{criteria3.pageNum} - 1) * #{criteria3.amount} AND BOARD_FIELD =#{boardVO.boardField}
         ]]>
    </select>
    <select id="getFieldBoard" resultType="boardVO">
        <![CDATA[
            SELECT BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM
            (
                SELECT
                ROWNUM RN, BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
                FROM TBL_BOARD
                WHERE ROWNUM <= #{criteria2.pageNum} * #{criteria2.amount}
            )

            WHERE RN > (#{criteria2.pageNum} - 1) * #{criteria2.amount} AND BOARD_FIELD =#{boardVO.boardField}
         ]]>
    </select>
    <select id="getFieldReview" resultType="boardVO">
        <![CDATA[
            SELECT BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM
            (
                SELECT
                ROWNUM RN, BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT, BOARD_FIELD, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
                FROM TBL_BOARD
                WHERE ROWNUM <= #{criteria1.pageNum} * #{criteria1.amount}
            )

            WHERE RN > (#{criteria1.pageNum} - 1) * #{criteria1.amount} AND BOARD_FIELD =#{boardVO.boardField}
         ]]>
    </select>
    <select id="select">
        SELECT BOARD_NUM, BOARD_TITLE, BOARD_CONTENT, USER_NUM, WARNING_COUNT,BOARD_FIELD,BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
        FROM TBL_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>
    <delete id="delete">
        DELETE FROM TBL_BOARD
        WHERE BOARD_NUM =#{boardNum}
    </delete>
    <update id="update">
        UPDATE TBL_BOARD
        SET BOARD_TITLE = #{boardTitle} ,  BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE
    </update>
    <delete id="deleteUser">
        DELETE FROM TBL_USER
        WHERE USER_NUM = #{userNum}
    </delete>
    <select id="getWarningCount" resultType="int">
        SELECT WARNING_COUNT
        FROM TBL_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>
    <!--총갯수-->
    <select id="getTotal" parameterType="boardVO" resultType="_int">
        SELECT COUNT(BOARD_NUM)
        FROM TBL_BOARD
    </select>
    <!--필드개수-->
    <select id="getTotalField" parameterType="boardVO" resultType="int">
        SELECT COUNT(BOARD_NUM)
        FROM TBL_BOARD
        WHERE BOARD_FIELD = #{boardField}
    </select>
    <select id="getUserId" resultType="String">
        SELECT USER_ID
        FROM TBL_USER
        WHERE USER_NUM = #{userNum}
    </select>

</mapper>