<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.AnswerMapper">
    <select id="getList" resultType="answerVO">
        SELECT ANSWER_NUM, ANSWER_TITLE, ANSWER_CONTENT, ANSWER_SEND_DATE, USER_NUM, MESSAGE_NUM
        FROM TBL_ANSWER
    </select>
    <insert id="insert">
        <selectKey keyProperty="answerNum" order="BEFORE" resultType="_int">
            SELECT SEQ_ANSWER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ANSWER
        (ANSWER_NUM, ANSWER_TITLE, ANSWER_CONTENT, ANSWER_SEND_DATE)
        VALUES(SEQ_ANSWER.NEXTVAL, #{answerTitle}, #{answerContent}, SYSDATE)
    </insert>
    <select id="select" resultType="answerVO">
        SELECT ANSWER_NUM, ANSWER_TITLE, ANSWER_CONTENT, ANSWER_SEND_DATE, USER_NUM, MESSAGE_NUM
        FROM TBL_ANSWER
        WHERE ANSWER_NUM = #{answerNum}
    </select>
    <update id="update">
        UPDATE TBL_ANSWER
        SET ANSWER_TITLE=#{answerTitle}, ANSWER_CONTENT=#{answerContent}, ANSWER_SEND_DATE=SYSDATE
        WHERE ANSWER_NUM=#{answerNum}
    </update>
    <delete id="delete">
        DELETE FROM TBL_ANSWER
        WHERE ANSWER_NUM=#{answerNum}
    </delete>
    <select id="getSendDate" resultType="string">
        SELECT ANSWER_SEND_DATE
        FROM TBL_ANSWER
        WHERE ANSWER_NUM=#{answerNum}
    </select>
    <select id="selectTitle" resultType="string">
        SELECT ANSWER_TITLE
        FROM TBL_ANSWER
        WHERE ANSWER_NUM = #{answerNum}
    </select>
    <select id="selectContent" resultType="string">
        SELECT ANSWER_CONTENT
        FROM TBL_ANSWER
        WHERE ANSWER_NUM = #{answerNum}
    </select>

</mapper>