<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.IdealMapper">
    <insert id="insert">
        <selectKey keyProperty="idealNum" order="BEFORE" resultType="_int">
            SELECT SEQ_IDEAL.NEXTVAL FROM DUAL
        </selectKey>
    INSERT INTO TBL_IDEAL
     (IDEAL_NUM, AGE, GENDER, HOBBY, RESIDENCE, INCOME, MBTI, SELF_INTRODUCE, HOUSE_EXIST,USER_NUM,IDEAL_CONTENT, SMOKE, JOB,USER_NAME)
    VALUES(SEQ_IDEAL.NEXTVAL, #{age}, #{gender}, #{hobby}, #{residence}, #{income}, #{mbti}, #{selfIntroduce}, #{houseExist},#{userNum}, #{idealContent}, #{smoke}, #{job},#{userName})
    </insert>
    <select id="select" resultType="idealVO">
        SELECT IDEAL_NUM, AGE, GENDER, HOBBY, RESIDENCE, INCOME, MBTI, SELF_INTRODUCE, HOUSE_EXIST, USER_NUM, IDEAL_CONTENT, SMOKE, JOB,USER_NAME
        FROM TBL_IDEAL
        WHERE IDEAL_NUM = #{idealNum}
    </select>

    <update id="update">
        UPDATE TBL_IDEAL
        SET AGE=#{age}, GENDER=#{gender}, HOBBY=#{hobby}, RESIDENCE=#{residence}, INCOME=#{income}, MBTI=#{mbti}, SELF_INTRODUCE=#{selfIntroduce}, HOUSE_EXIST=#{houseExist}, IDEAL_CONTENT=#{idealContent}, SMOKE=#{smoke}, JOB=#{job}
        WHERE IDEAL_NUM=#{idealNum}
    </update>
    <select id="getList" resultType="idealVO">
        SELECT IDEAL_NUM, AGE, GENDER, HOBBY, RESIDENCE, INCOME, MBTI, SELF_INTRODUCE, HOUSE_EXIST, USER_NUM, IDEAL_CONTENT, SMOKE, JOB,USER_NAME
        FROM TBL_IDEAL
    </select>
</mapper>