<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.LikeMapper">
    <insert id="insert" parameterType="likeVO">
        INSERT INTO TBL_LIKE
        VALUES(0, #{boardNum},#{userNum},#{likeCheck})
    </insert>

    <update id="heartUp" parameterType="boardVO">
        UPDATE TBL_BOARD
        SET GOOD_COUNT = GOOD_COUNT + 1
        WHERE BOARD_NUM = #{boardNum}
    </update>


    <delete id="delete" parameterType="likeVO">
        DELETE FROM TBL_LIKE
        WHERE likeNum =#{likeNum} AND USER_NUM=#{userNum}
    </delete>
    <update id="heartDown" parameterType="boardVO">
        UPDATE TBL_BOARD
        SET GOOD_COUNT = GOOD_COUNT -1
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <select id="select" parameterType="boardVO" resultType="boardVO">
        SELECT GOOD_COUNT
        FROM TBL_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>


</mapper>