<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.LikeMapper">
    <!-- 좋아요 갯수-->
    <select id="likeCount" resultType="_int">
        SELECT COUNT(LIKE_NUM)
        FROM TBL_LIKE
        WHERE BOARD_NUM = #{boardNum}
    </select>
    <!--갯수 추가-->
    <insert id="likeInsert" parameterType="likeVO">
        INSERT INTO TBL_LIKE
        (LIKE_NUM,BOARD_NUM,USER_NUM)
        VALUES (SEQ_LIKE.NEXTVAL , #{boardNum} , #{userNum} )
    </insert>
    <!--갯수 삭제-->
    <delete id="likeDown">
        DELETE FROM TBL_LIKE
        WHERE BOARD_NUM = #{boardNum} AND USER_NUM = #{userNum}
    </delete>
    <!--누른 게시판 -->
    <select id="likeCheck" resultType="_int">
        SELECT COUNT(TBL_NUM)
        FROM TBL_LIKE
        WHERE BOARD_NUM = #{boardNum} AND USER_NUM = #{userNum}
    </select>

</mapper>