<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kovengerss.mapper.ReplyMapper">
    <insert id="insert">
        INSERT INTO TBL_REPLY(REPLY_NUM,BOARD_NUM,REPLY_CONTENT,USER_NUM)
        VALUES(SEQ_REPLY.NEXTVAL, #{boardNum},#{replyContent},#{userNum})
    </insert>

    <select id="select" resultType="replyVO">
        SELECT REPLY_NUM, BOARD_NUM, REPLY_CONTENT, USER_NUM, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
        FROM TBL_REPLY WHERE REPLY_NUM = #{replyNum}
    </select>

    <delete id="delete">
        DELETE FROM TBL_REPLY WHERE REPLY_NUM = #{replyNum}
    </delete>

    <update id="update">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}, REPLY_UPDATE_DATE = SYSDATE
        WHERE REPLY_NUM = #{replyNum}
    </update>

    <select id="getList" resultType="replyDTO">
        <![CDATA[
        SELECT REPLY_NUM, BOARD_NUM, REPLY_CONTENT, USER_NAME,R.USER_NUM,REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
        FROM
        (
            SELECT /*+ INDEX_DESC(TBL_REPLY PK_REPLY) */
            ROWNUM RN, REPLY_NUM, BOARD_NUM, REPLY_CONTENT, USER_NUM, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
            FROM TBL_REPLY WHERE BOARD_NUM = #{boardNum} AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
        ) R JOIN TBL_USER U ON R.USER_NUM = U.USER_NUM
        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(REPLY_NUM) FROM TBL_REPLY WHERE BOARD_NUM = #{boardNum}
    </select>

    <select id="getUserNum" resultType="_int">
        SELECT USER_NUM
        FROM TBL_REPLY
        WHERE REPLY_NUM = #{replyNum}
    </select>


    <select id="getUserName" resultType="userVO">
        SELECT USER_NAME FROM TBL_USER U
        LEFT JOIN TBL_REPLY R
        ON U.USER_NUM=#{userNum} AND R.USER_NUM = #{userNum}
        WHERE U.USER_NUM = R.USER_NUM
        GROUP BY USER_NAME
    </select>


    <update id="getReplyCount">
        UPDATE TBL_BOARD B
        SET REPLY_COUNT =(SELECT COUNT(REPLY_NUM) FROM TBL_REPLY R WHERE R.BOARD_NUM =#{boardNum})
        WHERE B.BOARD_NUM =#{boardNum}
    </update>


    <!--자신이 쓴 댓 글 목록 전부 가져오기-->
    <select id="findReplyByUserVO" parameterType="userVO" resultType="replyVO">
                SELECT /*+ INDEX_DESC(TBL_BOARD PK_BNO) */
                REPLY_NUM, REPLY_CONTENT, BOARD_NUM, USER_NUM, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
                FROM TBL_REPLY
                WHERE USER_NUM = #{userNum}
    </select>

</mapper>